h1{
  text-align: center;
  color: blue;
  text-decoration: underline;
}
#merde{
  margin-left: 3%;
  color: red;
  background-color: #000;
}
#langue{
  border: 20px solid black;
  color: magenta;
  background-color: rgb(19, 218, 195);
}
